<div class="auth_form" id="login_form">
    <input type="text" placeholder="Имя" class="form__item user_name_input" maxlength="30">
    <label class="name_error form__item error_label"></label>
    <input type="password" placeholder="Пароль" class="form__item user_password_input" maxlength="45">
    <label class="name_error form__item error_label"></label>
    <div class="serv_response disable"></div>
    <button class="form__item form__button">Войти</button>
</div>

<!-- <form action="/auth/login" method="post" id="login_form" class="auth_form">
    <input type="text" name="username" class="form__item user_name_input">
    <input type="password" name="password" class="form__item user_password_input">
    <input type="submit" class="form__item form__button" value="Войти">
</form> -->