{% load static %}

<div class="header">
    <div class="header__container">
        <div class="logo__container">
            <img class="logo" src="{% static 'main/imgs/smart_home_ico.png' %}">
        </div>
        <div class="menu">
            <button class="menu__item active" id="main_page_btn">Главная</button>
            <button class="menu__item" id="boards_page_btn">Платы</button>
            <button class="menu__item" id="logout" onclick="logout()">Выйти</div>
            <!-- <a href="/account" class="menu__item">Профиль</a> -->
        </div>
    </div>
</div>